
* {
	margin: 0;
	padding: 0;
}

#adminProductsPages li{
	display: inline-block;
}


.pages li {
	border-right: 1px solid black;

}
.pages li:last-child {
	border-right: none;
}


#adminProductImageUpload p {
	margin-top: 10px;
}
.outlined {
	border:1px solid silver;
	border-radius:10px;
	padding:10px;
	margin-bottom: 10px;
}
.clear-bottom {
	margin-bottom: 15px;
}
.clear-top {
	margin-top: 15px;
}