
* {
	margin: 0;
	padding: 0;
}

#adminProductsPages li{
	display: inline-block;
}


.pages li {
	border-right: 1px solid black;

}
.pages li:last-child {
	border-right: none;
}


#adminProductImageUpload p {
	margin-top: 10px;
}
.container {
	background: white;
	padding:20px 10px;
	border-radius:20px;
}
.outlined {
	border:1px solid silver;
	border-radius:10px;
	padding:10px;
	margin-bottom: 10px;
}
.clear-bottom {
	margin-bottom: 15px;
}
.clear-top {
	margin-top: 15px;
}
.inline-list li {
	display: inline-block;
	text-decoration: none;
	margin:10px;
}
.fullBackground {
	background-image: url("../img/background.jpg");
	background-size:cover;
}

#adminCategorySelect {
	display: block;
	width: 15em;
	padding: 5px 10px;
}
.l2 {
	padding-left: 1em;
}